---
---

/* Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import 'normalize';
@import 'skeleton';
@import 'fonts';

/* Base styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@page {
  size: A4;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}

html {
  font-size: 55%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  line-height: 1.4;
  max-width: 800px;
  margin: 0 auto;
}

header {
  text-align: center;
}

body, a, a:visited {
  color: #111;
}

header, article {
  page-break-after: always;
}

article .portfolio-columns {
  display: flex;
  flex-direction: row;
}

article:nth-child(odd) .portfolio-columns {
  flex-flow: row-reverse;
}

.portfolio-columns > * {
  width: 50%;
  flex-shrink: 0;
}

.portfolio-images {
  display: flex;
  flex-direction: column;
}

article .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-date {
  font-weight: bold;
  margin: 0;
}

article h2 {
  margin: 0;
}

article h2 > span:last-child {
  font-weight: light;
}

article .title,
.portfolio-content section,
.portfolio-images > div {
  padding: 10px;
}

.portfolio-content section,
.portfolio-images > div {
  height: 300px;
}

.portfolio-images img {
  width: 100%;
}
