---
---

/* Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import 'normalize';
// @import 'skeleton';
@import 'fonts';

/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$background-color: #0B0602;
$font-color: white;

$inverted-background-color: $font-color;
$inverted-font-color: $background-color;

$page-margin: 25px;

$text-shadow: 2px;
$collection-item-padding: 10px;

$sections-width: 720px;

/* Base styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  min-height: 100vh;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
}

#title-container {
  padding: 2em;
  display: flex;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

#title h1 {
  margin-top: 0;
  font-size: 300%;
}

#title h2 {
  font-weight: normal;
}


// h1, h2, h3, h4, h5, h6, nav {
//   font-family: 'Edmondsans', 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
// }

// article {
//   position: relative;
//   box-sizing: border-box;
//   width: 100%;
//   padding: $page-margin;
// }

// a,
// a:hover,
// a:visited {
//   color: $font-color;
// }

// /* Base classes
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

// .hidden {
//   display: none;
// }

// *:active, *:focus {
//   outline-style: none;
//   -moz-outline-style:none;
// }

// /* Body styles and overrides
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

// body {
//   color: $font-color;
//   background: $background-color;
// }

// body.invert-colors {
//   color: $inverted-font-color;
//   background: $inverted-background-color;
// }

// body.invert-colors a,
// body.invert-colors a:hover,
// body.invert-colors a:visited {
//   color: $inverted-font-color;
// }

// /* Menu
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

// nav {
//   margin-bottom: 10px;

//   margin-left: 10px;
//   margin-right: 10px;

//   background-color: $background-color;
//   background-image: linear-gradient(to top,#000 0%,#000 49%,#fff 50%,#fff 100%);
//   background-size: 3px 3px;
//   background-repeat: repeat-x;
//   background-position: 0 97.5%;

//   line-height: 1.2em;
//   // padding: 0.3em 0;
// }

// nav a {
//   text-decoration: none;
// }

// nav, nav h1, nav li {
//   font-size: 2rem;
//   font-weight: bold;
//   letter-spacing: 0;
// }

// nav ul,
// nav ul li,
// nav h1 {
//   display: inline;
// }

// nav .divider {
//   display: inline-block;
//   position: relative;
//   width: 0.4em;
// }

// /* Horizontal and vertical centered image
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

// .center-of-page {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .img404 {
//   transform:rotate(180deg);
//   -ms-transform:rotate(180deg);
//   -webkit-transform:rotate(180deg);
// }

// /* Sections
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

// .section {
//   position: relative;
// }

// section {
//   position: absolute;
//   padding: 8px;
//   width: 90%;
//   max-width: 720px;
// }

// section span {
//   padding: 4px 8px;
//   line-height: 1.7em;
//   -webkit-box-decoration-break: clone;
//   box-decoration-break: clone;
// }

// section a  {
//   text-decoration: none;
//   // background-image: linear-gradient(to top,#fff 0%,#fff 49%,#000 50%,#000 100%);
//   background-image: linear-gradient(to top,#000 0%,#000 49%,#fff 50%,#fff 100%);
//   background-size: 2px 2px;
//   background-repeat: repeat-x;
//   background-position: 0 97.5%;
//   // text-shadow: 0.03em 0 #fff,-0.03em 0 #fff,0.05em 0 #fff,-0.05em 0 #fff,0.09em 0 #fff,-0.075em 0 #fff;
// }

// .scroll-for-more {

//   font-size: 60%;
// }

// .collection {
//   list-style-type: none;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

// .collection-item-wrapper:after {
//   content: '';
//   display: block;
//   padding-top: 66.65%;
// }

// .collection-item-wrapper {
//   position: relative;
//   box-sizing: border-box;
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   cursor: pointer;
// }

// .collection-item-contents {
//   position: absolute;
//   padding: $collection-item-padding;
//   display: flex;
//   flex-direction: column;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

// .collection-item {
//   width: 25%;
// }

// .collection-item {
//   // TODO: dit dus zelfde variable als nav!
//   padding: 10px;
//   margin: 0;
//   box-sizing: border-box;
// }

// .collection-item-heading {
//   background-color: $background-color;
//   color: $font-color;
//   display: inline;
//   padding: 10px;
//   -webkit-box-decoration-break: clone;
//   box-decoration-break: clone;
// }

// .collection-item-link {
//   text-decoration: none;
// }

// .collection-item h2 {
//   margin-top: 7px;
//   line-height: inherit;
//   margin-bottom: 0;
// }

// .collection-item h3 {
//   margin-top: 10px;
// }

// .collection-item h2 {
//   font-size: 1.5rem;
//   letter-spacing: 0;
// }

// .collection-item h3 {
//   font-size: 1rem;
//   letter-spacing: 0;
// }

// /* background Images
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

// #background-images {
//   position: fixed;
//   width: 100vw;
//   height: 100vh;
// }

// .background-image {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }

// .background-image video {
//   right: 0;
//   bottom: 0;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto; height: auto;
// }

// /* Media queries for margin and font size
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

// @media (max-width: 1700px) {
//   .collection-item {
//     width: 33.333%;
//   }
// }

// @media (max-width: 1200px) {
//   article {
//     padding: 2vw;
//   }

//   .collection-item {
//     width: 50%;
//   }
// }

// @media (max-width: 575px) {
//   .collection-item {
//     width: 100%;
//     max-width: 100%;
//   }
// }

// @media (max-width: 800px), (max-height: 400px) {
//   body {
//     font-size: 1.13em;
//     // TODO: line-height
//   }

//   .collection-item h2 {
//     font-size: 1.13em;
//   }

//   .collection-item h3 {
//     font-size: 0.7em;
//   }

//   nav {
//     margin-bottom: 0;
//   }

//   article {
//     padding: 2vw;
//   }

//   nav, nav h1, nav li {
//     font-size: 1.5rem;
//   }
// }

// /* Body classes for other elements
//  –––––––––––––––––––––––––––––––––––––––––––––––––– */

// body.contain .background-size {
//   background-size: contain;
// }

// body.fixed article {
//   position: fixed;
// }

// body.invert-colors nav {
//   background-color: $inverted-background-color;
// }

// body.transparent-text nav {
//   background-color: transparent;
//   text-shadow: $text-shadow $text-shadow $background-color;
// }

// body.transparent-text.invert-colors nav {
//   text-shadow: $text-shadow $text-shadow $inverted-background-color;
// }

// body.invert-colors nav {
//   border-bottom-color: $inverted-font-color;
// }

// body.invert-colors #sections section span {
//   background-color: $inverted-background-color;
// }

// body.transparent-text #sections section span {
//   background-color: transparent;
//   text-shadow: $text-shadow $text-shadow $background-color;
// }

// body.transparent-text.invert-colors #sections section span {
//   text-shadow: $text-shadow $text-shadow $inverted-background-color;
// }

// /* Leaflet Map
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

// .leaflet-container {
//   background: $background-color;
// }

// .leaflet-popup-content-wrapper {
//   border-radius: 0px;
// }

// .leaflet-popup-content {
//   margin: 4px 4px;
//   line-height: 0;
// }
