---
---
/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$background-color: #0B0602;
//$font-color: #f7f4f2;
$font-color: white;

$inverted-background-color: $font-color;
$inverted-font-color: $background-color;

$page-margin: 35px;
$text-shadow: 2px;
$collection-item-padding: 10px;

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: 'Edmondsans';
  font-style: normal;
  font-weight: normal;
  src: url('{{ site.baseurl }}/fonts/Edmondsans-Regular.otf')
}

@font-face {
  font-family: 'Edmondsans';
  font-style: normal;
  font-weight: 500;
  src: url('{{ site.baseurl }}/fonts/Edmondsans-Medium.otf')
}

@font-face {
  font-family: 'Edmondsans';
  font-style: normal;
  font-weight: 700;
  src: url('{{ site.baseurl }}/fonts/Edmondsans-Bold.otf')
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiboldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

/* Base styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  color: $font-color;
  background: $background-color;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
}

body.invert-colors {
  color: $inverted-font-color;
  background: $inverted-background-color;
}

.contain {
  position: relative;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.clearfix {
  display: block;
}

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Edmondsans';
}

nav a {
  text-decoration: none;
}

a:active, a:focus {
  outline-style: none;
  -moz-outline-style:none;
}

a,
a:hover,
a:visited {
  color: $font-color;
}

body.invert-colors a,
body.invert-colors a:hover,
body.invert-colors a:visited {
  color: $inverted-font-color;
}

nav {
  background-color: $background-color;
  border-bottom-color: $font-color;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin: $page-margin $page-margin 0;
  position: relative;
  z-index: 100;
}

body.invert-colors nav {
  background-color: $inverted-background-color;
}

body.transparent-text nav {
  background-color: transparent;
  text-shadow: $text-shadow $text-shadow $background-color;
}

body.transparent-text.invert-colors nav {
  text-shadow: $text-shadow $text-shadow $inverted-background-color;
}

nav, nav h1, nav li {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0;
}

nav h1 {
  display: inline;
  //line-height: 30px;
}

nav ul {
  display: inline;
}

nav ul li {
  display: inline;
}

nav img {
  height: 18px;
}

.divider {
  display: inline-block;
  position: relative;
  width: 0.4em;
}

body.invert-colors nav {
  border-bottom-color: $inverted-font-color;
}

/* Horizontal and vertical centered image
–––––––––––––––––––––––––––––––––––––––––––––––––– */

div.center-of-page {
  left: 0;
	// TODO: add js to change 100px on window.resize
  height: calc(100% - 100px);
	width: 100%;
	position: fixed;
	display: table;
  z-index: -1;
}

div.center-of-page p {
	display: table-cell;
  vertical-align: middle;
}

div.center-of-page p img {
	display: block;
	margin-left: auto;
  margin-right: auto;
}

.img404 {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

/* Collections (projects, things)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav.fixed {
  position: fixed;
  width: calc(100% - #{$page-margin * 2});
}

.collection {
    //  border-bottom: $collection-item-padding;
  max-width: 1800px;
  margin: 0 ($page-margin - $collection-item-padding);
}

.collection-item {
  padding: $collection-item-padding;
  float: left;
  width: 25.0000%;
}

.collection-item, .collection-item:after, .collection-item:before {
  box-sizing: border-box;
}

.collection-item-overlay {
  padding: $collection-item-padding;
}

.collection-item-overlay h2 span,
.collection-item-overlay h3 span {
  background-color: $background-color;
}

.pin-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.collection-item-image {
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: 50%;
}

@media only screen and (max-width:640px) {
  .collection-item {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width:1200px) {
  .collection-item {
    width: 33.3333%;
  }
}

@media only screen and (max-width:900px) {
  .collection-item {
    width: 50%;
  }
}

@media only screen and (max-width:640px) {
  .collection-item {
    width: 100%;
  }

  .collection-item-image {
    padding-bottom: 50%;
  }
}

.collection-item h2 span,
.collection-item h3 span {
  padding: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.collection-item h2 {
  margin-top: 7px;
  line-height: inherit;
  margin-bottom: 0;
}

.collection-item h3 {
  margin-top: 10px;
}

.collection-item h2 {
  font-size: 1.5rem;
  letter-spacing: 0;
}

.collection-item h3 {
  font-size: 1rem;
  letter-spacing: 0;
}

/* Single collection item (full screen image + text)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#sections section {
  margin: $page-margin;
  width: 80%;
  max-width: 700px;
  z-index: 0;
  position: fixed;
}

#sections section span {
  display: inline;
  background-color: $background-color;
  line-height: 1rem;
  box-decoration-break: clone;
  line-height: 40px;
  padding: 8px;
}

body.invert-colors #sections section span {
  background-color: $inverted-background-color;
}

body.transparent-text #sections section span {
  background-color: transparent;
  text-shadow: $text-shadow $text-shadow $background-color;
}

body.transparent-text.invert-colors #sections section span {
  text-shadow: $text-shadow $text-shadow $inverted-background-color;
}

.section-background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}