* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #0B0602;
}

a:link {
	color: #91a7ff;
}

#text {
	font-size: 11px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	color: #e6e6d6;
	width: 200px;
	top: 20px;
	position: relative;
}

div#centered {
	height: 100%;
	width: 100%;
	position: fixed;
	display: table;
}

div#centered p {
	display: table-cell;
  vertical-align: middle;
}

div#centered p img {
	display: block;
	margin-left: auto;
  margin-right: auto;
}

