{% include header.html %}
<div class='collection clearfix'>
	<div class='clearfix'>
    {% for item in site[page.collection] %}
    {% if item.show != false %}
		<div class='collection-item contain clearfix'>
			<a class='block contain collection-item-link'>
				<div class='collection-item-image'></div>
				<div class='collection-item-overlay pin-top'>
          <h2><span class='collection-item-title' /></h2>
          <h3><span class='collection-item-date' /></h3>
				</div>
			</a>
		</div>
    {% endif %}
    {% endfor %}
		<script>
			createCollection('{{ page.collection }}', '{{ page.url }}', {{ site.data.config | jsonify }});
		</script>
	</div>
</div>
{% include footer.html %}
