{% include header.html %}
<ol class='collection'>
  {% for item in site[page.collection] %}
  {% if item.show != false %}
	<li class='collection-item'>
    <div class='collection-item-wrapper'>
      <div class='collection-item-contents'>
  		  <a class='collection-item-link'>
  			  <h2><span class='collection-item-title collection-item-heading' /></span></h2>
  		  </a>
        <h3><span class='collection-item-date collection-item-heading' /></span></h3>
      </div>
    </div>
	</li>
  {% endif %}
  {% endfor %}
	<script>
		createCollection('{{ page.collection }}', '{{ page.url }}', {{ site.data.config | jsonify }});
	</script>
</ol>
{% include footer.html %}
